.manage_doctor_container {
    .manage_doctor_title {
        padding: 0px 0 20px 0;
        text-align: center;
        color: #a0c0ef;
        font-weight: 600;
    }
    .more_info {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        .select_doctor {
            width: 40%;
            label {
                font-size: 18px;
            }
        }
        .more_info_doctor {
            width: 60%;
            label {
                display: block;
                font-size: 18px;
            }
            textarea {
                width: 100%;
            }
        }
    }
}
